<%- include('partials/_head.ejs') %>
<%- include('partials/_header.ejs') %>
<div class="container mt-5">
  <form action="/auth/reset-password" method="post" class="needs-validation" novalidate>
    <input type="hidden" name="token" value="<%= token %>">
    <div class="mb-3">
      <label for="password" class="form-label">New Password:</label>
      <input type="password" name="password" class="form-control" id="password" required>
      <div class="invalid-feedback">
        Please enter a new password.
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm New Password:</label>
      <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" required>
      <div class="invalid-feedback">
        Please confirm your new password.
      </div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
  </form>
</div>
<%- include('partials/_footer.ejs') %>