<%- include('partials/_head.ejs') %>
<%- include('partials/_header.ejs') %>
<div class="container mt-5">
  <% if (messages && messages.success) { %>
    <div class='alert alert-success'><%= messages.success %></div>
  <% } %>
  <form action="/auth/request-password-reset" method="post" class="needs-validation" novalidate>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" class="form-control" required>
      <div class="invalid-feedback">
        Please enter a valid email address.
      </div>
    </div>
    <div class="form-group">
      <input type="submit" value="Request Password Reset" class="btn btn-primary mt-3">
    </div>
  </form>
</div>
<%- include('partials/_footer.ejs') %>